@import url("generic.css");

body {
    background-color: #001B2B;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100%; /* makes the body use the entire viewport */
    margin: 0;
}

/* HEADER */

header {
    position: fixed;   /* keeps it in place */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;     /* ensure it stays above other content */
    display: grid;
    background-color: #0E3D8B;
    justify-items: center;
    align-items: center;
    grid-template-columns: auto auto auto;
}

header p {
    text-align: center;
    color: white;
    font-size: 130%;
    margin: 10px;
}

#h_sidebutton {
    margin-left: 20px;
    justify-self: left;
}

#h_login {
    margin-right: 20px;
    justify-self: right;
}

/* PAGE CONTENT */

main {
    margin-top: 52px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

#listado_posts {
    border: none;
    flex: 1;
}

#post_frame {
    flex: 1;
    border: none;
    display: none; /* hidden by default */
}

/* FOOTER */

footer {
    margin-top: auto;
    background-color: #0E3D8B;
    display:grid;
    grid-template-columns: repeat(auto-fit, auto);
    justify-items: center;
    align-items: center;
    height: auto;
}

footer p {
    font-size: 70%;
    margin: 0;
}