* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #001B2B;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100%; /* makes the body use the entire viewport */
    margin: 0;
}

p {
    color: white;
}

/* HEADER */

header {
    position: fixed;   /* keeps it in place */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;     /* ensure it stays above other content */
    display: grid;
    background-color: #0E3D8B;
    justify-items: center;
    align-items: center;
    grid-template-columns: auto auto auto;
}

header p {
    text-align: center;
    color: white;
    font-size: 130%;
    margin: 10px;
}

#h_sidebutton {
    margin-left: 20px;
    justify-self: left;
}

#h_login {
    margin-right: 20px;
    justify-self: right;
}

/* PAGE CONTENT */

main {
    margin-top: 42px;
    float: left;
    width: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: minmax(100px, auto);
}

.cell {
    border: 1px solid white;
}

/* FOOTER */

footer {
    margin-top: auto;
    background-color: #0E3D8B;
    display:grid;
    grid-template-columns: repeat(auto-fit, auto);
    justify-items: center;
    align-items: center;
    height: auto;
}

footer p {
    font-size: 70%;
    margin: 0;
}