$background-color: #22272E;
$background-color-light: #292E35;
$background-color-light2: #3A424C;
$background-color-light3: #9FB4CE;
$background-color-dark: #161A1E;

$text-font: 'Inter';
$text-color: #E5F0FF;
$text-color-grey: #B0B9C4;