@media (max-width: 650px) {
    .create-post-btn {
      padding: 0.9rem;
      border-radius: 50%;
      justify-content: center;
  
      span {
        display: none;
      }
  
      svg {
        margin: 0;
      }
    }
  }