@import url("generic.css");

body {
    background-color: #0E3D8B;
    margin: 0px;
    padding: 10px;
    min-height: 100vh;
}

header {
    display: grid;
    grid-template-columns: 1fr auto; /* title, close button */
    /* justify-items: center; */
    align-items: center;
    margin-bottom: 20px;
}

#h_title {
    font-size: 150%;
}

#h_title, #m_body {
    margin: 0px;
    padding: 0px;
    word-wrap: break-word;
}

footer {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

footer p {
    font-size: 80%;
}