@font-face {
  font-family: 'Inter';
  src: url("../fonts/Inter/Inter-VariableFont_opsz,wght.ttf");
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: "Inter";
  color: #E5F0FF;
  background-color: #22272E;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
}

input {
  font-family: inherit;
  color: #E5F0FF;
}

.site-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100vw;
  height: 50px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0px -5px 15px #090A0C;
          box-shadow: 0px -5px 15px #090A0C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #292E35;
}

.site-header img {
  margin: 5px;
  max-width: 80px;
}

.h-search,
.h-signin {
  min-height: 25px;
}

.h-search {
  outline: none;
  background: #3A424C;
  max-width: 90%;
  border-style: none;
  border-radius: 7px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.h-search::-webkit-input-placeholder {
  color: #aaa;
}

.h-search:-ms-input-placeholder {
  color: #aaa;
}

.h-search::-ms-input-placeholder {
  color: #aaa;
}

.h-search::placeholder {
  color: #aaa;
}

.h-search:focus {
  -webkit-box-shadow: 0 0 8px 3px #22272E;
          box-shadow: 0 0 8px 3px #22272E;
}

.h-signin {
  min-width: 60px;
  margin-right: 5px;
  background: linear-gradient(135deg, #5f94eb, #4179f3);
  color: white;
  border-style: none;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.2s ease, -webkit-box-shadow 0.2s ease;
  transition: -webkit-transform 0.2s ease, -webkit-box-shadow 0.2s ease;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  transition: transform 0.2s ease, box-shadow 0.2s ease, -webkit-transform 0.2s ease, -webkit-box-shadow 0.2s ease;
}

.h-signin:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 6px 15px rgba(0, 120, 255, 0.3);
          box-shadow: 0 6px 15px rgba(0, 120, 255, 0.3);
}

.h-side-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.h-side-container img {
  cursor: pointer;
}

.h-side-btn {
  margin-left: 10px;
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

.h-side-btn:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  font-size: 85%;
}

footer div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  gap: 20px;
}

footer p {
  color: #B0B9C4;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

/* MAIN CONTENT */
.login-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.login-panel-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  justify-items: center;
  gap: 40px;
}

.login-panel-header {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  place-items: center;
  gap: 20px;
}

.login-panel-header img {
  max-width: 10rem;
}

.login-panel-header p {
  font-size: 1.7rem;
  color: white;
  text-shadow: 0 0 15px black;
  font-weight: bold;
}

.login-panel {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  place-items: center;
  gap: 25px;
  background: -webkit-gradient(linear, left top, left bottom, from(#324b86), color-stop(50%, #293c68));
  background: linear-gradient(180deg, #324b86 0%, #293c68 50%);
  border-radius: 5px;
  -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
  padding: 1.5rem;
}

.login-panel-input-grid {
  -ms-grid-column-align: left;
      justify-self: left;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  width: 100%;
}

.login-panel-input-grid input {
  border: none;
  outline: none;
  background: none;
}

.login-panel-input-grid input::-webkit-input-placeholder {
  color: #B0B9C4;
}

.login-panel-input-grid input:-ms-input-placeholder {
  color: #B0B9C4;
}

.login-panel-input-grid input::-ms-input-placeholder {
  color: #B0B9C4;
}

.login-panel-input-grid input::placeholder {
  color: #B0B9C4;
}

.login-panel-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1rem;
}

.login-panel-options a {
  font-size: 0.9rem;
  text-decoration: underline;
}

.login-panel-signin-button {
  padding: 1rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  border-radius: 30px;
  border: none;
  background: linear-gradient(120deg, #315ea1, #3378c7);
  color: #E5F0FF;
  font-weight: bold;
  font-size: 1.02rem;
  -webkit-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
  cursor: pointer;
}

.login-panel-signin-button:hover {
  background: linear-gradient(120deg, #3a6db9, #3b8be6);
}

.login-panel-input-field-username,
.login-panel-input-field-password {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  border: solid 1px #161A1E;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  padding: 0.5rem;
}

.login-panel-input-field-username svg,
.login-panel-input-field-password svg {
  width: 1.4rem;
  height: 1.4rem;
}
